.container{
    width: 90%;
    background-image: var(--dialog);
    padding: 0.25rem;
}

.container::backdrop{
    background:rgba(0, 0, 0, 0.7);
}

.container:hover{
    cursor:auto;
}

.inner{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 2rem 1rem 2rem;
    color: white;
}

.button{
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    aspect-ratio: 1/1;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
    background: transparent;
    color: white;
    padding: 0;
    margin: 0;
}

.button:hover{
    cursor: pointer;
    color: var(--mainBlue);
}

.title{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover{
    cursor: pointer;
    color: var(--mainRed);
}

.title:hover{
    cursor: pointer;
    color: var(--mainRed);
}

.grid{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2rem;
}

@media only screen and (max-aspect-ratio: 13/9){
    .grid{
        display: flex;
    }
}

.image{
    object-fit: contain;
}

@media only screen and (max-aspect-ratio: 13/9){
    .image{
        display: none;
    }
}

.notice{
    width: 100%;
    border-top: 1px solid white;
    font-style: italic;
    padding: 1rem 0 0 0;
}