.footer{
    position: relative;
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer::before{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    height: 0.25rem;
    width: 100%;
    background: var(--linear-090-mainRed-mainBlue);
    content: "";
}

.inner{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 1rem 0;
}

.links{
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0
}

.nav{
    position: relative;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.link{
    color: white;
    text-decoration: none;
    margin: 0 1rem 0 1rem;
}