:root{
  --mainBlue: cyan;
  --minorBlue: blue;
  --mainRed: magenta;
  --minorRed: hotpink;
  --linear-090-mainBlue-mainRed: linear-gradient(090deg, var(--mainBlue), var(--mainRed));
  --linear-090-mainRed-mainBlue: linear-gradient(090deg, var(--mainRed), var(--mainBlue));
  --dialog: linear-gradient(315deg, var(--mainRed), var(--minorBlue));
  --blue-tile: linear-gradient(315deg, var(--minorBlue), var(--mainBlue));
  --red-tile: linear-gradient(315deg, var(--minorRed), var(--mainRed));
  --button: linear-gradient(315deg, var(--minorBlue), var(--mainRed));
    --button: linear-gradient(315deg, var(--minorBlue), var(--mainRed));
}

body{
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  font-family: "Arial";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap:wrap;
  padding: 0;
  margin: 0;
}

.main{
  width: 100%;
  max-width: 1920px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.homeMain{
  width: 100%;
  max-width: 1920px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.homeSection{
  position: relative;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 5rem 0;
}

.section{
  position: relative;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 5rem 0;
}

h1{
  width: fit-content;
  background: var(--linear-090-mainBlue-mainRed);
  color: transparent;
  font-size: 3rem;
}

h2{
  display: inline-block;
  width: 100%;
  margin: 0;
}

a{
  color: var(--mainBlue);
}

.title{
  background-clip: text;
  -webkit-background-clip: text;
}

.description{
  position: relative;
  width: 100%;
  margin: 0 0 1rem 0;
}

ul{
  position: relative;
  list-style: none;
  margin: 0 0 0 -0.5rem;
}

ul > li::before{
  position: absolute;
  left: 1rem;
  font-weight: bold;
  width: 1rem;
  height: 100%;
  color: var(--mainRed);
  content: "\2022";
  display: inline-block;
}

.buttonContainerSingle{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem 0;
  width: 100%;
}

.buttonContainerDuo{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 3rem 0 3rem 0;
  width: 50%;
}

@media only screen and (max-aspect-ratio: 13/9){
  .buttonContainerDuo{
    width: 100%;
  }
}

.buttonBg{
  position: relative;
  background: var(--button);
  padding: 0.25rem;
  border-radius: 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.buttonBg::before{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 1rem;
  background: var(--button);
  filter: blur(10px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonBg:hover{
  cursor: pointer;
}

.button{
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  border-radius: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  flex-grow: 1;
}

.button:hover{
  cursor: pointer;
}

.divider{
  position: relative;
  width: 100%;
  margin: 3rem 0;
  height: 0.25rem;
  background: var(--linear-090-mainBlue-mainRed);
}

.parallax{
  position: relative;
  width: 100%;
  height: 25vh;
}

.large{
  height: 50vh;
}

.articleImageGrid{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.imageSpan{
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-aspect-ratio: 13/9){
  .parallax{
    height: 25vw;
  }
  .large{
    height: 50vw;
  }
}

figure{
  margin: 2rem 0;
  width: 100%;
  height: 100%;
}

figcaption{
  font-size: 0.75rem;
  font-style: italic;
}