body{
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  font-family: "Arial";
  position: absolute;
  display: flex;
  padding: 0;
  margin: 0;
}

#__next{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.main{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.section{
  position: relative;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 5rem 0;
}

h1{
  width: fit-content;
  background: linear-gradient(090deg, cyan, deeppink);
  color: transparent;
  font-size: 3rem;
}

.title{
  background-clip: text;
  -webkit-background-clip: text;
}

ul{
  position: relative;
  list-style: none;
  margin: 0 0 0 -0.5rem;
}

ul > li::before{
  position: absolute;
  left: 1rem;
  font-weight: bold;
  width: 1rem;
  height: 100%;
  color: deeppink;
  content: "\2022";
  display: inline-block;
}

.buttonContainer{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem 0;
  width: 100%;
}

.buttonBg{
  position: relative;
  background: linear-gradient(315deg, blue, magenta);
  padding: 0.25rem;
  border-radius: 1rem;
  text-decoration: none;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.buttonBg:nth-child(even){
  margin: 0 0 0 1rem;
}

.buttonBg:hover{
  cursor: pointer;
}

.button{
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  border-radius: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  flex-grow: 1;
}