.splashText{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: calc(90vh - 4rem);
}

.span {
    position: relative;
    text-shadow: 2px 2px 5px blue, -2px -2px 5px blue, -2px 2px 5px deeppink, 2px -2px 5px deeppink;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 5rem 0 0 0;
    color: var(--background);
}

.wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.spanL{ 
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.spanR{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.transition{
    position: "relative";
    width: "100%";
    display: "flex";
    justify-content: "flex-end";
}

@media only screen and (max-aspect-ratio: 13/9){
    .wrapper{
        flex-wrap: wrap;
    }
    .spanL, .spanR{
        justify-content: center;
    }
    .transition{
        justify-content: center;
    }
}

.animate{
    animation-name: onoff;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}




@keyframes onoff {
    0% {
        opacity: 0;
    }
    20%{
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}