.splashText{
    position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: calc(90vh - 4rem);
}

.title{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-clip:initial;
    background: transparent;
    color: white;
}

.span {
    position: relative;
    text-shadow: 2px 2px 5px var(--minorBlue), -2px -2px 5px var(--minorBlue), -2px 2px 5px var(--minorRed), 2px -2px 5px var(--minorRed);
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 5rem 0 0 0;
    color: white;
}

.spanL{ 
    margin: 0;
    width: 10%;
    display: flex;
    justify-content: center;
}


.transition{
    position: "relative";
    width: "100%";
    display: "flex";
    justify-content: "flex-end";
}

@media only screen and (max-aspect-ratio: 13/9){
    .wrapper{
        flex-wrap: wrap;
    }
    .spanL, .spanR{
        justify-content: center;
        width: 100%;
    }
    .transition{
        justify-content: center;
    }
}

.animate{
    animation-name: onoff;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.whackyWavingInflatableArmsFlailingTubeMan{
    position: relative;
    width: 90%;
    color: cyan;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0 2rem 0;
}

.whackyWavingInflatableArmsFlailingTubeMan p{
    width: 100%;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.whackyWavingInflatableArmsFlailingTubeMan a{
    color: magenta;
    text-decoration: none;
}

@keyframes onoff {
    0% {
        opacity: 0;
    }
    20%{
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}