.details{
    position: relative;
    width: 100%;
    border: 2px solid white;
    border-radius: 0.75rem;
    padding: 1rem;
}

.details:nth-last-child(n+2){
    margin: 0 0 2rem 0;
}

.summary{
    list-style-type: none;
    display: grid;
}

.summary:hover{
    cursor: pointer;
}

.title{
    width: 100%;
    display: flex;
    align-items: center;
}

.tagline{
    width: 100%;
    display: flex;
    align-items: center;
}

.price{
    width: 100%;
    display: flex;
    align-items: center;
}

.description{
    position: relative;
    padding: 1rem 0 0 0;
}

.description::before{
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(-50%);
    height: 0.25rem;
    content: "";
    background: linear-gradient(090deg, deeppink, cyan);
}

.intro{
    font-style: italic;
}

.part h4{
    color: cyan;
    margin: 3rem 0 0 0;
}

.part_description ul{
    list-style: none;
}

.part_description > ul li::before{
    font-weight: bold;
    width: 1rem;
    color: deeppink;
    content: "\2022";
    display: inline-block;
}

.buttonContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
}

.buttonBg{
    position: relative;
    background: linear-gradient(315deg, blue, magenta);
    padding: 0.25rem;
    border-radius: 1rem;
}

.button{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    border-radius: 0.75rem;
    text-decoration: none;
    font-size: 1.5rem;
}