.details{
    position: relative;
    width: 100%;
    border: 2px solid white;
    border-radius: 0.75rem;
}

.details:nth-last-child(n+2){
    position: relative;
    margin: 0 0 2rem 0;
}

.summary{
    position: relative;
    list-style-type: none;
    display: grid;
    margin: 1rem;
}

@media only screen and (max-aspect-ratio: 13/9){
    .summary{
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-aspect-ratio: 13/9){
    .summary{
        grid-template-columns: 2fr 3fr 1fr;
    }
}

.summary:hover{
    cursor: pointer;
}

.chevy{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    grid-column: 1 / -1;
    font-size: 2rem;
    color: var(--mainBlue);
}

.title{
    position:relative;
    width: 100%;
}

.tagline{
    position: relative;
    width: 100%;
}

.price{
    position:relative;
    width: 100%;
}

@media only screen and (max-aspect-ratio: 13/9){
    .title, .tagline, .price{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desktop{
        display: none;
    }
}
@media only screen and (min-aspect-ratio: 13/9){
    .title, .tagline, .price{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .mobile{
        display: none;
    }
}

.description{
    margin: 1rem;
    position: relative;
    padding: 1rem 0 0 0;
}

.description::before{
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(-50%);
    height: 0.25rem;
    content: "";
    background: var(--linear-090-mainBlue-mainRed);
}

.intro{
    position: relative;
    font-style: italic;
}

.part h4{
    position: relative;
    color: var(--mainBlue);
    margin: 3rem 0 0 0;
}

