.container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
    height: max-content;
  }
  
  .tile {
    position: relative;
    aspect-ratio: 10/21;
    box-shadow: 0px 5px 5px 0px black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
  }
  
  .tile:nth-child(even) {
    background-image: var(--red-tile);
    box-shadow: 0px 0px 20px 0px var(--minorRed);
  }
  
  .tile:nth-child(odd) {
    background-image: var(--blue-tile);
    box-shadow: 0px 0px 20px 0px var(--mainBlue);
  }

  .tile:hover{
    cursor: pointer;
  }
  
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }
  
  .bigScreen {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: translateX(-100%);
    background-image: var(--dialog);
    padding: 0.25rem;
    transition: 1s;
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  
  .fadeOut {
    animation-name: fadeOut;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.89, 0.44, 0.45, 1.32);
  }
  
  .opacity0 {
    opacity: 0;
  }
  .opacity1 {
    opacity: 1;
  }
  
  @keyframes fadeIn {
    from {
      transform: translateX(-100vw);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes fadeOut {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(-100vw);
    }
  }
  
  .bigText {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 2rem 1rem 2rem;
    color: white;
  }
  
  .title {
    position: relative;
    width: 100%;
  }
  
  .title h2 {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
    width: 100%;
  }
  
.title h2:hover{
  cursor: pointer;
    color: var(--mainRed);
}

  .title p {
    font-style: italic;
  }

  .link{
    text-decoration: none;
    color: white;
  }

  .link:hover{
    cursor: pointer;
    color: var(--mainRed);
  }
  
  .bigText h2:hover {
    cursor: pointer;
    color: var(--mainRed);
  }
  
  .details {
    margin: 2rem 0 0 0;
    border-top: 1px solid white;
    padding: 2rem 0 0 0;
  }
  
  .tech {
    padding: 2rem 0 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
    grid-gap: 1rem;
  }
  
  .stack {
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.fallback{
  position: relative;
  width: 100%;
  background: rgba(0,0,0,0.7);
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}